/**
 * @name Refreshless-cord
 * @version 1.0
 * @author SillyVyxia
 * @source https://github.com/SillyVyxia/Refreshless-cord
 * @website https://github.com/SillyVyxia/Refreshless-cord
 * @description Restores discord's pre-refresh UI, Addon for OldCord.
 */

@import url("https://sillyvyxia.github.io/Refreshless-cord/src/components/oldProfile.css");
/*
Enable this if you want.
*/
/*@import url("https://sillyvyxia.github.io/Refreshless-cord/src/components/clientTheme.css");*/