/* for if you use the vencord ClientTheme plugin */
.theme-dark:not(html.custom-theme-background, :has(#clientThemeVars)) {
    --background-primary: var(--neutral-64);
    --background-secondary: var(--neutral-69);
    --background-secondary-alt: var(--neutral-79);
    --background-tertiary: var(--neutral-73);
    --background-accent: var(--neutral-59);
    --background-floating: var(--background-secondary-alt);
    --button-secondary-background: var(--background-accent);
    --button-secondary-background-hover: var(--neutral-36);
    --button-secondary-background-active: var(--neutral-38);
    --background-mod-subtle: var(--background-accent);
    --bg-overlay-selected: var(--background-accent);
    --channeltextarea-background: var(--background-accent);
    --scrollbar-auto-scrollbar-color-thumb: var(--neutral-38);
    --scrollbar-auto-scrollbar-color-track: var(--neutral-74);
    --scrollbar-auto-thumb: var(--background-accent);
    --scrollbar-auto-track: var(--primary-630);
    --scrollbar-thin-thumb: var(--neutral-38);
    --interactive-muted: var(--neutral-50);
    --interactive-normal: var(--icon-muted);
    --header-secondary: var(--interactive-normal);
    --channels-default: var(--text-muted) !important;
    --background-modifier-hover: var(--neutral-60);
    --background-modifier-selected: var(--neutral-50);
}
.visual-refresh {
    .section__00943 {
        background: var(--background-primary);
    }
    .outer_bf1984.interactive_bf1984:hover {
		background-color: var(--background-secondary-alt);
	}
    .outer_bf1984.interactive_bf1984:active {
		background-color: var(--background-secondary-alt);
	}
    :is(.sidebar__23e6b) .selected_b3f026.item_b3f026 {
        --background-modifier-hover: var(--neutral-65);
        --background-modifier-active: var(--neutral-80);
        --background-modifier-selected: var(--neutral-60);
        --background-modifier-accent: var(--neutral-59);
    }
}
body {
    --text-muted: var(--neutral-22);
    --brand-500: var(--blurple-49);
}
.theme-dark .closeButton_c2b141 {
    color: var(--interactive-normal) !important;
}
.keybind_c2b141 {
    color: var(--interactive-normal) !important;
}
