.theme-dark:not(html.custom-theme-background, :has(#clientThemeVars)) {
    --background-primary: var(--neutral-64);
    --background-secondary: var(--neutral-69);
    --background-secondary-alt: var(--neutral-79);
    --background-tertiary: var(--neutral-73);
    --background-accent: var(--neutral-59);
    --background-floating: var(--background-secondary-alt);
    --button-secondary-background: var(--background-accent);
    --button-secondary-background-hover: var(--neutral-36);
    --button-secondary-background-active: var(--neutral-38);
    --background-mod-subtle: var(--background-accent);
    --bg-overlay-selected: var(--background-accent);
    --channeltextarea-background: var(--background-accent);
    --scrollbar-auto-scrollbar-color-thumb: var(--neutral-38);
    --scrollbar-auto-scrollbar-color-track: var(--neutral-74);
    --scrollbar-auto-thumb: var(--background-accent);
    --scrollbar-auto-track: var(--primary-630);
    --scrollbar-thin-thumb: var(--neutral-38);
    --interactive-muted: var(--neutral-50);
    --interactive-normal: var(--icon-tertiary);
    --header-secondary: var(--interactive-normal);
    --channels-default: var(--text-muted) !important;
    --background-modifier-hover: var(--neutral-60);
    --background-modifier-selected: var(--neutral-50);
}
