.contentHeader_e9e3ed .icon-only_a22cb0:before {
    position: absolute;
    content: "ESC";
    top: 40px;
    font-size: 13px;
    font-weight: var(--font-weight-semibold);
    color: var(--background-primary);
    background-color: var(--background-primary);
}
.contentHeader_e9e3ed .icon-only_a22cb0:after {
    background-color: var(--background-primary);
}