/* thank you blade0 (@the.rabbit.disabler) for the css snippet i modified */
.user-profile-modal-v2 {
    max-width: 600px !important;
    min-width: 0px !important;
    max-height: 800px !important;
    min-height: 0px !important;

    .inner_c0bea0 {
        padding: 0px !important;
        gap: 0px !important;
        flex-direction: column !important;
        container-type: size;
    }

    .profile__9c3be {
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: var(--radius-md);
    }

    &.custom-theme-background {
        .inner_c0bea0 {
            padding: 4px !important;
            background: linear-gradient(100px(--profile-gradient-primary-color), 100px(--profile-gradient-secondary-color)) !important;
        }

        .profile__9c3be {
            width: calc(100% - 8px);
            height: calc(100% - 8px);
        }
    }

    .selected_aa8da2 {
        color: var(--text-secondary) !important;

        &::after {
            display: none;
        }
    }

    .inner_c0bea0:has(.tabBarItem__37bfc:focus, div.top_aa8da2:focus, .tabBarPanel__37bfc:focus-within, .tabBarPanel__37bfc:focus) {
        .profile__9c3be {

            .markup__75297,
            .section_bf424d {
                visibility: hidden !important;
                pointer-events: none !important;
            }

        }

        .tabBarPanel__37bfc {
            display: flex !important;
            opacity: 1;
            pointer-events: all !important;
        }

        div.top_aa8da2::before {
            color: var(--text-secondary);
            border-bottom: none !important;
        }

        .selected_aa8da2 {
            color: var(--selected-tab-item-color) !important;

            &::after {
                display: block !important;
            }
        }
    }

    .tabBarPanel__37bfc {
        opacity: 0;
        z-index: 999;
        pointer-events: none !important;
        padding: 0px 26px;
    }

    .container__37bfc {
        margin-top: 270px;
        padding: 18px 4px 26px;
    }

    .banner__68edb {
        height: 100% !important;
        border-radius: 0px;
    }

    .profileHeader__9c3be {
        height: 320px !important;

        .mask__68edb {
            min-height: 0px !important;

            >foreignObject {
                mask: none;

                .banner__68edb {
                    min-height: 0px !important;
                    height: 100px !important;

                    &::before {
                        display: none;
                    }
                }
            }
        }
    }


    .profileButtons__9c3be {
        position: fixed;
        right: 26px;
        top: 170px !important;
    }

    .container__63ed3 {
        position: fixed;
        top: 220px !important;
        max-width: calc(var(--pmv1b-max-width) - 200px - 26px - 26px);
    }

    .profileBody__9c3be {
        margin-top: -2px;
        padding-top: var(--space-xl);
    }

    div.top_aa8da2::before {
        content: "User Info";
        color: var(--text-primary);
        border-bottom: 2px solid var(--text-primary) !important;
        font-size: 16px;
        font-weight: 500;
        --tab-item-color: var(--text-primary);
        margin: 1px var(--space-xl) 1px 0px;
        cursor: pointer;
    }

    div.top_aa8da2 .item_aa8da2 {
        font-size: 16px;
        font-weight: 500;
        margin: 2px var(--space-xl) 1px 0px !important;
    }

    .empty_e766f2 {
        padding: 0px !important;
        justify-content: center;
    }

    .tabBarItem__37bfc:hover {
        color: var(--text-primary) !important;
        cursor: pointer;

        &::after {
            display: block;
        }
    }

    .profileAppConnections__9c3be {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .connection__9bfb9 {
        border: 1px solid var(--border-subtle) !important;
        border-radius: var(--radius-sm);
        padding: var(--space-sm);

        .accountName__9bfb9,
        .platformUrlAnchor__9bfb9,
        .connectionInfo__9bfb9 {
            width: 100%;
            justify-content: space-between;
        }
    }

    .connectionInfo__9bfb9 {
        justify-content: start;
        padding-top: 3px;
    }

    .connection__9bfb9:has(.metadata__9bfb9>.connectedAccountVanityMetadata_fffe42) {
        order: -1;

        .connectionInfo__9bfb9 {
            justify-content: center;
            padding-top: 0px;
        }
    }

    .wrapper__44b0c::before {
        content: "";
        position: absolute;
        left: -7.5%;
        top: -7.5%;
        width: 115%;
        height: 115%;
        border-radius: 50%;
        background: var(--profile-gradient-modal-background-color);
    }
}
