@import url("https://sillyvyxia.github.io/Refreshless-cord/src/components/vars.css");
@import url("https://sillyvyxia.github.io/Refreshless-cord/src/components/color.css");
@import url("https://sillyvyxia.github.io/Refreshless-cord/src/components/imgs.css");
@import url("https://sillyvyxia.github.io/Refreshless-cord/src/components/other.css");
@import url("https://sillyvyxia.github.io/Refreshless-cord/src/components/oldProfile.css");
@import url("https://sillyvyxia.github.io/Refreshless-cord/src/components/redesign.css");
